<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Kol Accesorios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!auth.token">
    <p>
      Inciar sesion para poder subir imagen
    </p>
  </div>

  <div *ngIf="!!auth.token">
    <input type="file" name="" (change)="fileChanges($event)">
    <button (tap)="submit()" ion-button secondary>Subit Archivo</button>
  </div>
</ion-content>
